In [6]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

basics_url="title.basics.tsv.gz"
akas_url="title.akas.tsv.gz"
ratings_url="title.ratings.tsv.gz"

#Load file
basics_df = pd.read_csv(basics_url, sep='\t', low_memory=False)
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)
akas_df = pd.read_csv(akas_url, sep='\t', low_memory=False)

basics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10255985 entries, 0 to 10255984
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 704.2+ MB

In [7]:
akas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37544903 entries, 0 to 37544902
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.2+ GB

In [8]:
basics_df = basics_df.replace({'\\N':np.nan})
akas_df = akas_df.replace({'\\N':np.nan})
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [9]:
akas_df.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [10]:
# Exclude any movie with missing values for genre or runtime
is_missing_genres = basics_df['genres'].isna()
basics_df = basics_df[~is_missing_genres]
basics_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
10255980,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,NaN,NaN,"Action,Drama,Family"
10255981,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,NaN,NaN,"Action,Drama,Family"
10255982,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,NaN,NaN,"Action,Drama,Family"
10255983,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short
10255984,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,NaN,10,"Adventure,Animation,Comedy"

In [11]:
is_missing_runtime = basics_df['runtimeMinutes'].isna()
basics_df = basics_df[~is_missing_runtime]
basics_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
10255935,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary
10255941,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019,NaN,43,"Family,Game-Show,Reality-TV"
10255976,tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0,2014,NaN,11,"Adventure,Animation,Comedy"
10255983,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short
10255984,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,NaN,10,"Adventure,Animation,Comedy"

In [12]:
# Exclude movies that are included in the documentary category.
is_documentary =  basics_df['genres'].str.contains('documentary',case=False)
basics_df =  basics_df[~is_documentary]
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,NaN,1,Short

In [13]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics_df['tconst'].isin(akas_df['titleId'])
basics_df = basics_df[keepers]
basics_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,NaN,1,Short
...,...,...,...,...,...,...,...,...,...
10255873,tt9916616,short,Terror,Terror,0,NaN,NaN,13,"Drama,Short"
10255908,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015,NaN,66,Drama
10255925,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,Drama
10255941,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019,NaN,43,"Family,Game-Show,Reality-TV"
10255983,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short

In [14]:
# Calculate the mean for Item_Weight column
is_missing_startYear = basics_df['startYear'].isna()
basics_df = basics_df[~is_missing_startYear]
basics_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,NaN,1,Short
...,...,...,...,...,...,...,...,...,...
10255871,tt9916610,short,Private Eye,Private Eye,0,2019,NaN,22,"Drama,Mystery,Sci-Fi"
10255908,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015,NaN,66,Drama
10255925,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,Drama
10255941,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019,NaN,43,"Family,Game-Show,Reality-TV"
10255983,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short

In [16]:
basics_df = basics_df.loc[(basics_df['startYear'] >= '2000') & (basics_df['startYear'] <= '2021')]
basics_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
33800,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001,NaN,20,Short
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
49490,tt0050396,short,Final Curtain,Final Curtain,0,2012,NaN,20,"Horror,Short"
55753,tt0056840,short,Aufsätze,Aufsätze,0,2021,NaN,10,Short
59198,tt0060361,short,EMS nr 1,EMS nr 1,0,2016,NaN,14,Short
...,...,...,...,...,...,...,...,...,...
10255871,tt9916610,short,Private Eye,Private Eye,0,2019,NaN,22,"Drama,Mystery,Sci-Fi"
10255908,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015,NaN,66,Drama
10255925,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,Drama
10255941,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019,NaN,43,"Family,Game-Show,Reality-TV"
10255983,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short

In [17]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

[]

In [19]:
## Save current dataframe to file.
basics_df.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [20]:
# Open saved file and preview again
basics_df = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001,NaN,20,Short
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
2,tt0050396,short,Final Curtain,Final Curtain,0,2012,NaN,20,"Horror,Short"
3,tt0056840,short,Aufsätze,Aufsätze,0,2021,NaN,10,Short
4,tt0060361,short,EMS nr 1,EMS nr 1,0,2016,NaN,14,Short

In [21]:
## Save current dataframe to file.
akas_df.to_csv("Data/title_aka.csv.gz",compression='gzip',index=False)
# Open saved file and preview again
akas_df = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas_df.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0.0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0.0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0.0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0.0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0.0

In [22]:
## Save current dataframe to file.
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)
# Open saved file and preview again
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2002
1  tt0000002            5.8       269
2  tt0000003            6.5      1894
3  tt0000004            5.5       178
4  tt0000005            6.2      2677